port: 7890
socks-port: 7891
mode: rule
log-level: error
external-controller: '0.0.0.0:9090'
external-ui: /usr/local/etc/clash/ui
tun:
  enable: true
  stack: system
  device: tun_3000
  mtu: 9000
  auto-route: true
  strict-route: true
  auto-detect-interface: true
  dns-hijack:
    - any:53
    - tcp://any:53
dns:
  enable: true
  listen: 0.0.0.0:53
  default-nameserver: 
    - 127.0.0.1:5335 # 指向mosdns